Screen { padding: 0 1; }

Summary {
  color: $warning;
  height: 3;
  content-align: left middle;
}
Summary.passed { color: $success; }
Summary.failed { color: $error-lighten-2; }

DataTable { height: 1fr; }

.diff {
  border-top: $background-lighten-3 hkey;
}
.diff-test-name {
  text-style: bold underline;
  padding: 0 1 1 1;
}
.diff-columns { 
  min-height: 10;
}
.diff-column-title {
  padding: 0 0 1 0;
}
.diff-column {
  width: 1fr; 
  padding: 0 1;
}
.diff-column-section {
  padding: 0 1 1 0;
}
.diff-content {
  background: $boost;
  color: $text;
  padding: 0 1;
  margin: 0 0 1 0;
}
